{{ with . }}
<div
    class="relative flex flex-col w-full h-[360px] rounded-3xl overflow-hidden z-10 shadow-lg shadow-gray-700/20 dark:shadow-gray-950/20">

    <!-- Bagian gambar -->
    <a href="{{ .RelPermalink }}" class="w-full h-[45%] overflow-hidden bg-cover">
        {{ $img := .Params.image | default "/images/default.png" }}
        <div class="w-full h-full">
            <img loading="lazy"  src="{{ $img }}" alt="gambar {{ .Title }}"
                class="w-full h-full left-0 top-0  object-cover brightness-75 hover:brightness-100 transition duration-500 ease-in-out" />
        </div>
    </a>
    <!-- Bagian teks -->
    <div
        class="w-full h-[55%] font-light dark:font-extralight flex flex-col items-start justify-start gap-2 p-4 bg-white hover:bg-gray-300 dark:bg-gray-950 hover:dark:bg-gray-950/70">
        <h2 class="w-full h-fit">
            <a href="{{ .RelPermalink }}" class="hover:underline break-words min-h-50 h-50 text-2xl line-clamp-3">{{
                .Title }}</a>
        </h2>
        <h2 class="flex flex-wrap justify-between gap-4 text-sm line-clamp-1 uppercase">
            {{ range .Params.categories }}
            <a href="{{ " categories/" | relLangURL }}{{ . | urlize }}" class="hover:underline">
                {{ . }}
            </a>
            {{ end }}
        </h2>
        <p class="absolute w-full bottom-4 pr-4 left-0 text-right justify-end  z-10 text-xl h-fit flex gap-0">
            <span>—</span>{{ partial "timeago.html" .Date }}
        </p>
    </div>


</div>

{{ end }}