{{ with . }}


<div class="rounded">
            <h2 class="text-xl uppercase  font-medium border-b  border-gray-300  dark:border-gray-800/50  pb-2 mb-4">News
                Subscription</h2>
           <div class="flex flex-col gap-4 p-2 text-gray-300 bg-white dark:bg-gray-950/20 backdrop-blur-sm rounded overflow-hidden">
  <input
    id="inputSubs"
    type="email"
    placeholder="Your email"
    class="bg-gray-300 dark:bg-gray-900/80 placeholder:text-gray-700 placeholder:dark:text-gray-300 text-gray-900 dark:text-white px-3 py-2 w-full rounded outline-none"
    required
  />

  <!-- Error message -->
  <p id="errorMsg" class="text-red-500 text-sm hidden">Invalid email address. Please try again.</p>

  <button
    id="letSubs" disabled
    class="bg-skoolink-400 dark:bg-skoolink-500 rounded text-white  py-2 w-full"
  >
    Subscribe
  </button>
</div>



</div>

{{ end }}
