{{ with . }}

 {{ $related := .Site.RegularPages.Related . | first 6 }}
    {{ if gt (len $related) 0 }}
    <h2 class="text-xl uppercase font-medium border-b mt-8 border-gray-300 dark:border-gray-800/50 pb-2 mb-4">Related Articles</h2>
    <div class="except grid gap-4 md:gap-3 grid-cols-1 md:grid-cols-2 lg:grid-cols-5 lg:[&>*:nth-child(1)]:col-span-3 lg:[&>*:nth-child(4)]:col-span-3 lg:[&>*:nth-child(5)]:col-span-3">
      {{ range $related }}
     <div class="relative group  col-span-1 lg:col-span-2 flex flex-col w-full md:w-full h-[320px] rounded-3xl overflow-hidden z-10 shadow-lg shadow-gray-700/40 dark:shadow-gray-950/40">

          <!-- Bagian gambar -->
          <div class="w-full h-full opacity-100  flex-1">
            <a href="{{ .RelPermalink }}">
              <img src="{{ .Params.image | default "/img/default.png" }}" alt="gambar {{ .Title }}"
                class="w-full h-full object-cover brightness-75 hover:brightness-100 transition duration-500 ease-in-out" />
            </a>
          </div>


          <!-- Bagian teks -->
         <div class="w-[80%] h-[80%] absolute  right-0 bottom-0 rounded-tl-3xl opacity-100   transition duration-500 ease-in-out  font-light dark:font-extralight flex flex-col items-start justify-start gap-2 p-4 bg-gradient-to-br from-white dark:from-gray-900 from-0% via-gray-50 dark:via-gray-950 via-70% to-gray-300 dark:to-gray-950 to-100%">
        <h2 class="w-full h-fit text-2xl line-clamp-4">
          <a href="{{ .RelPermalink }}" class="hover:underline break-words">{{ .Title }}</a>
        </h2>
        <h2 class="flex justify-between gap-4 text-sm line-clamp-1 uppercase">
          {{ range .Params.categories }}
            <a href="{{ "categories/" | relLangURL }}{{ . | urlize }}" class="hover:underline">
              {{ . }}
            </a>
            {{ end }}
          </h2>
        <p class="bottom-4 justify-end w-full items-end  left-6 z-10 text-xl h-full flex-1 flex gap-0"><span>—</span>{{ partial "dateNew.html" . }}</p>
      </div> 
      
  </div>
  {{ end }}
    </div>
    {{ end }}
    
{{ end }}