{{ with . }}
<div  class=" relative flex gap-x-2 justify-center items-center ">
  Share          
  <button onclick="toggleShareModal()"
              class="relative p-3 group  group/tooltip  bg-gray-200 hover:bg-gray-300 dark:bg-gray-950/20 hover:dark:bg-gray-950/50 backdrop-blur-sm   transition duration-500 ease-in-out rounded-xl hover:text-skoolink-400 text-gray-700 dark:text-gray-400 hover:dark:text-skoolink-400 ">
                <svg class="group-hover:scale-110   transition duration-500 ease-in-out" width="24" height="24"
                viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M18.416 8.33334C16.8972 8.33334 15.666 7.10212 15.666 5.58334C15.666 4.06455 16.8972 2.83334 18.416 2.83334C19.9348 2.83334 21.166 4.06455 21.166 5.58334C21.166 7.10212 19.9348 8.33334 18.416 8.33334Z"
                  stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M5.58398 14.75C4.0652 14.75 2.83398 13.5188 2.83398 12C2.83398 10.4812 4.0652 9.25 5.58398 9.25C7.10277 9.25 8.33398 10.4812 8.33398 12C8.33398 13.5188 7.10277 14.75 5.58398 14.75Z"
                  stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M18.416 21.1667C16.8972 21.1667 15.666 19.9354 15.666 18.4167C15.666 16.8979 16.8972 15.6667 18.416 15.6667C19.9348 15.6667 21.166 16.8979 21.166 18.4167C21.166 19.9354 19.9348 21.1667 18.416 21.1667Z"
                  stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M16.125 6.95834L8.33333 12L16.125 17.0417" stroke="currentColor" stroke-width="1.5"
                  stroke-linecap="round" stroke-linejoin="round" />
              </svg> <span
              class="absolute justify-center items-center left-1/2 -translate-x-1/2 w-fit top-14 p-2 text-sm bg-gray-200 dark:bg-gray-950/50 backdrop-blur-sm  text-gray-700 dark:text-gray-400  flex  opacity-0 group-hover/tooltip:opacity-100 transition  duration-1000 ease-in-out  shadow-xl shadow-gray-950/10 lg:shadow-gray-950/20 rounded-lg">Share</span></button>
           

          </div>
           
{{ end }}
