{{ with . }}


{{ $recommended := where .Site.RegularPages "Params.tags" "intersect" (slice "Recommended") }}
{{ $sorted := sort $recommended "Date" "desc" }}
{{ $subset := first 4 (after 1 $sorted) }} <!-- Index 1 sampai 3 -->

{{ if gt (len $subset) 0 }}
<section class="col-span-12 w-full lg:col-span-4 space-y-6 px-0 md:px-0">
  <div>
    <h2 class="text-xl uppercase font-medium border-b border-gray-300 dark:border-gray-800/50 pb-2 mb-4">
      Suggested Articles
    </h2>

    <ul class="flex flex-col gap-4 md:gap-3">
      {{ range $subset }}
   <li class="group rounded overflow-hidden shadow relative">
  <a href="{{ .RelPermalink }}" class="block relative">
    {{ with .Params.image }}
    <div class="relative">
      <img loading="lazy" src="{{ . }}" alt="gambar {{ $.Title }}"
           class="w-full h-48 object-cover brightness-75 group-hover:brightness-100 transition duration-300" />
      
      <!-- Gradient overlay -->
      <div class="absolute inset-0 bottom-0"
           style="background: linear-gradient(0deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);">
      </div>

      <!-- Labels seperti "HD/SUB" dan "E?" -->
      <div class="absolute bottom-2 left-2 right-2 flex justify-between text-xs font-medium text-white">
        <span class="bg-purple-600/80 px-2 py-1 rounded">HD/SUB</span>
        <span class="bg-purple-500/80 px-2 py-1 rounded">E ?</span>
      </div>
    </div>
    {{ end }}
  </a>

  <div class="bg-white dark:bg-gray-900/20 border border-gray-300 dark:border-gray-800/50 backdrop-blur-sm rounded shadow-hone hover:shadow-xl transition duration-300 ease-in-out overflow-hidden p-3  flex flex-col justify-between">
    <h3 class="mb-1 line-clamp-2 h-[50px] font-medium dark:font-normal"> 
      <a href="{{ .RelPermalink }}" class="hover:underline">
        {{ .Title }}
      </a>
    </h3>
    <p class="text-sm line-clamp-1 text-gray-600 dark:text-gray-700 ">
            {{ partial "author.html" . }} | {{ partial "date2.html" . }}
          </p>
  </div>
</li>

      {{ end }}
    </ul>
  </div>
</section>
{{ end }}

{{ end }}
