{{ $pricing := site.GetPage "section" "pricing" }}

{{ if not $pricing }}
<p class="text-red-600 font-bold">⚠️ Tidak bisa mendapatkan halaman pricing!</p>
{{ else }}

<section class="section-pricing" id="section-pricing">
    <div class="section-space-bottom">
        <div class="container-default">
            <div class="jos mb-[60px] xl:mb-20">
                <div class="mx-auto max-w-[746px]">
                    <div class="mb-5">
                        <h2
                            class="text-center font-Kanit text-4xl font-medium leading-none -tracking-[1px] text-ColorMidnightMoss lg:text-5xl xl:text-7xl xxl:text-[80px]">
                            {{ $pricing.Title }}
                        </h2>
                        <p class="text-center text-xl mt-4 text-ColorMidnightMoss/80">{{ $pricing.Summary }}</p>
                    </div>
                </div>
            </div>

            <div>
                <!-- Pricing Button Block -->
                <div class="my-[50px] flex flex-row items-center justify-center gap-6">
                    <span class="text-base font-bold text-ColorMidnightMoss">Monthly Billing</span>

                    <!-- Toggle Button -->
                    <label for="toggle" class="flex cursor-pointer items-center">
                        <!-- toggle -->
                        <span class="relative h-[35px] w-[70px] rounded-[35px] bg-ColorMidnightMoss">
                            <!-- hidden input -->
                            <input id="toggle" type="checkbox" class="hidden" onclick="toggleSwitch()" />
                            <!-- dot -->
                            <span
                                class="toggle_dot absolute h-[35px] w-[35px] rounded-full bg-ColorCaribbeanGreen transition-all duration-300"></span>
                        </span>
                    </label>
                    <!-- Toggle Button -->
                    <span class="text-base font-bold text-ColorMidnightMoss">Annual Billing</span>
                </div>
                <!-- Pricing Button Block -->


                <div class="grid items-center gap-x-6 gap-y-10 md:grid-cols-2 lg:grid-cols-3">
                    {{ range $pricing.Params.plans }}
                    <div class="jos" data-jos_animation="flip-left">
                        <div class="rounded-[10px] {{ if eq .name "Pro Plan" }}bg-ColorMidnightMoss{{ else }}bg-[#FFFCEF]{{ end }} p-7 xl:p-10">
                            <div class="text-center">
                                <span class="text-2xl font-bold {{ if eq .name "Pro Plan" }}text-white{{ else }}text-ColorBlack{{ end }}">{{ .name }}</span>
                                <div class="month text-[28px] font-normal leading-[2.85] {{ if eq .name "Pro Plan" }}text-white{{ else }}text-ColorBlack{{ end }}">$<span class="text-[48px] font-bold leading-[1.3] xl:text-[58px]">{{ .monthly }}</span>/month
                                </div>
                                <div class="annual hidden text-[28px] font-normal leading-[2.85] {{ if eq .name "Pro Plan" }}text-white{{ else }}text-ColorBlack{{ end }}">$<span class="text-[48px] font-bold leading-[1.3] xl:text-[58px]">{{ .yearly }}</span>/yearly
                                </div>
                                <span class="text-sm {{ if eq .name "Pro Plan" }}text-white/70{{ else }}text-ColorBlack/70{{ end }}">No credit card required</span>
                            </div>

                            <div class="my-10 h-px w-full {{ if eq .name "Pro Plan" }}bg-white/10{{ else }}bg-ColorBlack/10{{ end }}"></div>

                            <ul class="flex flex-col gap-y-4 font-semibold {{ if eq .name "Pro Plan" }}text-white/80{{ else }}text-ColorMidnightMoss/80{{ end }} xl:px-[18px]">
                                {{ range .features }}
                                <li class="flex gap-x-3">
                                    <span class="text-xl text-ColorCaribbeanGreen">
                                        <i class="fa-solid fa-check"></i>
                                    </span>
                                    {{ . }}
                                </li>
                                {{ end }}
                            </ul>

                            <div class="mt-10 flex justify-center">
                                <button class="btn {{ if eq .name "Pro Plan" }}is-caribbean-green{{ else }}is-outline-midnight-moss{{ end }} is-transparent is-rounded is-large group flex
                                    w-full items-center justify-center border-2">
                                    Purchase now
                                    <i class="fa-regular fa-arrow-right ml-[10px] text-2xl leading-none"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>

{{ end }}