{{ $section := site.GetPage "sections/brands.md" }}
{{ if $section }}
<!--...::: Brand Section Start :::... -->
<div class="section-brand">
    <div class="jos">
        <!-- Section Space -->
        <div class="py-[60px] md:py-20 lg:py-[100px]">
            <!-- Section Container -->
            <div class="container-default">
                <div
                    class="mx-auto mb-10 max-w-[80%] text-center text-xl font-semibold leading-[1.4] opacity-70 md:mb-16 lg:mb-20 lg:max-w-2xl">
                    {{ $section.Params.heading }}
                </div>

                <!-- Brand Slider -->
                <div class="swiper brand-slider">
                    <div class="swiper-wrapper">
                        {{ range seq 1 2 }}
                        {{ range $section.Params.brands }}
                        <div class="swiper-slide">
                            <img src="/img/brands/{{ . }}" alt="{{ . | replaceRE " \\..*$" "" }}" class="h-auto ma-x-[46px] w-auto mx-auto" />
                        </div>
                        {{ end }}
                        {{ end }}
                    </div>
                </div>
                <!-- Brand Slider -->
            </div>
        </div>
    </div>
</div>
<!--...::: Brand Section End :::... -->
{{ end }}