<!--RELATED AUTO-->
{{ $currentPage := .Page }}

{{ $categories := slice }}
{{ with $currentPage.Params.categories }}
  {{ $categories = . }}
{{ end }}

{{ $tags := slice }}
{{ with $currentPage.Params.tags }}
  {{ $tags = . }}
{{ end }}

{{ $relatedByCat := slice }}
{{ $relatedByTag := slice }}

{{ if gt (len $categories) 0 }}
  {{ $relatedByCat = where site.RegularPages "Params.categories" "intersect" $categories }}
{{ end }}

{{ if gt (len $tags) 0 }}
  {{ $relatedByTag = where site.RegularPages "Params.tags" "intersect" $tags }}
{{ end }}

{{ $relatedCombined := union $relatedByCat $relatedByTag | uniq }}
{{ $relatedFiltered := where $relatedCombined "RelPermalink" "ne" $currentPage.RelPermalink }}

{{ if ge (len $relatedFiltered) 2 }}
  <div class="flex gap-3 mx-2 my-4 h-fit bg-gray-100 dark:bg-gray-950/20 backdrop-blur-sm ">
    <div class="w-2 min-h-20 max-h-28 rounded bg-skoolink-400 dark:bg-skoolink-500"></div>
    <div class="h-full p-2">
      <p class="font-medium">Also read:</p>
      {{ $second := index $relatedFiltered 1 }}
      <a href="{{ $second.RelPermalink }}" class="text-skoolink-400 dark:text-skoolink-500 font-normal dark:font-light hover:underline line-clamp-2">
        {{ $second.Title }}
      </a>
    </div>
  </div>
{{ end }}




<!-- RINGKASAN / SINOPSIS -->
{{ if .Page.Params.synopsis }}
  <h2 class="font-medium uppercase tracking-wide">
    Sinopsis
    {{ with .Page.Params.nameAnime }}{{ . }}:{{ end }}
    {{ with .Page.Params.nameComic }}{{ . }}:{{ end }}
    {{ with .Page.Params.nameGame }}{{ . }}:{{ end }}
    {{ with .Page.Params.nameMovie }}{{ . }}:{{ end }}
  </h2>
  <div class="border-l-4 italic border-gray-300 dark:border-gray-800/50
    px-4 mx-2 md:mx-4 my-4 font-normal dark:font-light leading-8
    [&>p]:text-justify [&>p]:[text-indent:2em] [&>p]:my-3">
    {{ .Page.Params.synopsis | safeHTML }}
  </div>
{{ end }}

<!-- VIDEO TERKAIT -->
{{ with .Page.Params.videos }}
  {{ range . }}
    <div class="w-full h-fit flex flex-col mb-4 bg-gray-100 dark:bg-gray-950/20 backdrop-blur-sm rounded-3xl">
      <iframe width="auto" height="315px" src="{{ .url | safeURL }}" title="{{ .title | default "YouTube video player" }}" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>
      {{ with .title }}
        <p class="text-sm text-left font-light dark:font-extralight italic mt-2 px-4">{{ . }}</p>
      {{ end }}
      {{ with .source }}
        <p class="text-sm text-left font-light dark:font-extralight italic mb-2 px-4">Source Video: {{ . }}</p>
      {{ end }}
    </div>
  {{ end }}
{{ end }}

<!-- KESIMPULAN -->
{{ with .Page.Params.conclusion }}
  <h2 class="font-medium uppercase tracking-wide">Kesimpulan :</h2>
  <div class="border-l-4 border-gray-300 dark:border-gray-800/50
    px-4 mx-2 md:mx-4 my-4 font-normal dark:font-light leading-8
    [&>p]:text-justify [&>p]:[text-indent:2em] [&>p]:my-3">
    {{ . | safeHTML }}
  </div>
{{ end }}

{{ with .Page.Params.sources }}
<p class="mb-4 italic font-normal dark:font-light">
  Artikel ini pertama kali dipublikasikan di
  {{ $total := len . }}
  {{ range $index, $source := . }}
  {{ if gt $index 0 }}
  {{ if eq $index (sub $total 1) }} dan {{ else }}, {{ end }}
  {{ end }}
  <a href="{{ $source.url }}" target="_blank"
    class="text-gray-900 inline dark:text-gray-400 hover:text-skoolink-400 hover:dark:text-skoolink-500 underline"
    rel="noopener noreferrer">{{ $source.name }}</a>
  {{ end }}.
</p>
{{ end }}