{{ with .Page.Params.sources }}
<p class="mb-4 italic font-normal dark:font-light">
  Artikel ini pertama kali dipublikasikan di
  {{ $total := len . }}
  {{ range $index, $source := . }}
  {{ if gt $index 0 }}
  {{ if eq $index (sub $total 1) }} dan {{ else }}, {{ end }}
  {{ end }}
  <a href="{{ $source.url }}" target="_blank"
    class="text-gray-900 inline dark:text-gray-400 hover:text-skoolink-400 hover:dark:text-skoolink-500 underline"
    rel="noopener noreferrer">{{ $source.name }}</a>
  {{ end }}.
</p>
{{ end }}