<!DOCTYPE html>
<html class="" lang="{{ or site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
 
  {{ partial "head.html" . }}
  
</head>


<body>
    <div class="page-wrapper relative z-[1] bg-white">
        <!--...::: Header Start :::... -->
      {{ partial "header.html" . }}
        <!--...::: Header End :::... -->

        <main class="main-wrapper relative overflow-hidden">
         {{ block "main" . }}{{ end }}
        </main>

        <!--...::: Footer Section Start :::... -->
        <footer class="section-footer">
          {{ partial "footer.html" }}
        </footer>
        <!--...::: Footer Section End :::... -->
    </div> 
</body>

</html>