@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-stroke-white {
    color: transparent;
    -webkit-text-stroke: 1px white;
  }
  .text-stroke-gray-950 {
    color: transparent;
    -webkit-text-stroke: 1px black;
  }
  button {
    @apply transition-colors duration-300;
  }
  a {
    @apply transition-colors duration-300 cursor-pointer;
  }

  .overflow-style-y::-webkit-scrollbar {
    @apply w-[6px] bg-gray-50 dark:bg-gray-700 appearance-none;
  }
  .overflow-style-y::-webkit-scrollbar-thumb {
    @apply bg-skoolink-400 dark:bg-skoolink-500 py-4;
  }
  .overflow-style-y::-webkit-scrollbar-track {
    @apply my-4 bg-gray-200 dark:bg-gray-950;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  .overflow-style-x::-webkit-scrollbar {
    @apply h-[6px] bg-gray-50 dark:bg-gray-700;
  }
  .overflow-style-x::-webkit-scrollbar-thumb {
    @apply bg-skoolink-400 dark:bg-skoolink-500 px-4;
  }
  .overflow-style-x::-webkit-scrollbar-track {
    @apply mx-4 bg-gray-200 dark:bg-gray-900;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  /* tambahkan ke global css atau tailwind layer */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  input[type="checkbox"] {
    @apply mx-auto flex h-4 w-4 cursor-pointer appearance-none items-center justify-center rounded border-2 border-white bg-gray-200 outline-none ring-2 ring-gray-300;
    -webkit-appearance: none;
  }

  input[type="checkbox"]:after {
    @apply hidden text-[0.8rem] bg-gray-950 text-white;
    font-family: "Material Symbols Rounded";
    content: "\e5ca";
  }
  input[type="checkbox"]:hover {
    @apply bg-gray-400;
  }
  input[type="checkbox"]:checked {
    @apply bg-skoolink-300 ring-skoolink-300;
  }

  input[type="checkbox"]:indeterminate {
    @apply bg-skoolink-300 ring-skoolink-300;
  }
  input[type="checkbox"]:checked:after {
    @apply block;
  }
  input[type="checkbox"]:active {
    @apply bg-skoolink-300 ring-skoolink-300;
  }

  input[type="checkbox"]:focus {
    @apply bg-skoolink-400 ring-skoolink-400;
  }
  input[type="checkbox"]:checked:focus {
    @apply bg-skoolink-400 ring-skoolink-400;
  }

  .bar-of-progress {
    @apply fixed left-0 top-0 z-1200 m-0 h-[2px] w-full rounded-none bg-current p-0 text-skoolink-400 dark:text-skoolink-500 opacity-0;
    border: medium;
    /* Start with width 0 */
    transition: width 2s ease-out, opacity 0.5s 0.2s; /* Change width transition duration to 2s */
  }

  .glow {
    @apply h-full opacity-[0.4];
    box-shadow: 3px 0px 8px;
  }

  .finished {
    @apply w-full opacity-100; /* When finished, width is 100% */
    /* When finished, opacity is 1 */
  }
  /* Path 1 (Lingkaran hijau) */
  #svg-centang .svg-elem-1 {
    fill: #24ff00;
    stroke-width: 10px;
    transform-origin: center;
    transform: scale(0);
    transition: transform 0.5s ease-in-out;
  }

  /* Path 2 (Tanda centang putih) */
  #svg-centang .svg-elem-2 {
    stroke-dasharray: 633.4463500976562px;
    stroke-dashoffset: 633.4463500976562px;
    transition: stroke-dashoffset 0.5s ease-in-out 0.5s;
    stroke-width: 100px;
    fill: transparent;
  }

  /* Ketika SVG aktif, animasi mulai berjalan */
  #svg-centang.active .svg-elem-1 {
    transform: scale(1);
  }

  #svg-centang.active .svg-elem-2 {
    stroke-dashoffset: 0;
  }
  #svg-centang {
    width: 200px;
    height: 200px;
    display: block;
    margin: 50px auto;
  }

  /* Lingkaran merah */
  .red-circle {
    transform-origin: center;
    transform: scale(0);
    /* Awalnya kecil */
    transition: transform 0.5s ease-in-out;
    /* Animasi membesar dalam 0.5s */
  }

  /* Garis stroke 1 */
  .stroke-1 {
    transform-origin: center;
    transform: scale(0);
    /* Awalnya kecil */
    transition: transform 0.5s ease-in-out 0.5s;
    /* Animasi grow dalam 0.5s setelah red-circle */
  }

  /* Garis stroke 2 */
  .stroke-2 {
    transform-origin: center;
    transform: scale(0);
    /* Awalnya kecil */
    transition: transform 0.5s ease-in-out 0.5s;
    /* Animasi grow dalam 0.5s setelah red-circle */
  }

  /* Rotasi garis stroke setelah membesar */
  .rotate-1 {
    transition: transform 0.5s ease-in-out;
    /* Animasi rotasi dalam 0.5s */
    transform: scale(1) rotate(45deg);
    /* Membesar dan rotasi 45 derajat */
  }

  .rotate-2 {
    transition: transform 0.5s ease-in-out;
    /* Animasi rotasi dalam 0.5s */
    transform: scale(1) rotate(-45deg);
    /* Membesar dan rotasi -45 derajat */
  }

  /* Ketika SVG aktif, animasi mulai */
  #svg-x.active .red-circle {
    transform: scale(1);
    /* Membesar */
  }

  #svg-x.active .stroke-1,
  #svg-x.active .stroke-2 {
    transform: scale(1);
    /* Membesar */
  }

  #svg-x.rotated .stroke-1 {
    transform: scale(1) rotate(45deg);
    /* Rotasi stroke 1 */
  }

  #svg-x.rotated .stroke-2 {
    transform: scale(1) rotate(-45deg);
    /* Rotasi stroke 2 */
  }

  /* Menjaga ukuran SVG */
  #svg-x {
    width: 200px;
    height: 200px;
    display: block;
    margin: 50px auto;
  }

  .fade {
    transition: opacity 0.5s ease;
    opacity: 1;
  }

  .fade-out {
    opacity: 0;
  }

  .slide-img {
    @apply absolute w-full h-full object-cover opacity-0 translate-x-full transition-all duration-700;
  }

  .slide-img.active {
    @apply opacity-100 translate-x-0;
  }

  img {
    @apply will-change-transform;
  }
}

@layer utilities {
  .image-container {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
  }
  .image-container:hover {
    animation: shake 1.5s infinite ease-in-out;
  }

  @keyframes shake {
    0% {
      transform: translate(0px, 0px);
    }
    25% {
      transform: translate(3px, -3px);
    }
    50% {
      transform: translate(-3px, 3px);
    }
    75% {
      transform: translate(2px, -2px);
    }
    100% {
      transform: translate(0px, 0px);
    }
  }

  .random-img {
    display: inline-block;
    transition: transform 1s ease;
  }

  .glitch__img {
    position: absolute;
    background-color: var(--blend-color-1);
    background-size: cover;
    background-image: url("/images/068208100_1734685753-dandadan.webp");
    background-repeat: no-repeat;
    background-position: 50% 0;
    transform: translate3d(0, 0, 0);
    background-blend-mode: var(--blend-mode-1);
  }

  .distor {
    margin: auto auto;
    position: relative;
  }

  .distors-ctr .distor {
    display: inline-block;
  }

  .gooey-container {
    width: 70px;
    height: 70px;
    filter: url(#gooey);
  }

  .dot {
    width: 30px;
    height: 30px;
    background-color: #ff4d5a;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -15px 0 0 -15px;
  }

  /* Animasi rotasi berbeda kecepatan */
  .dot1 {
    animation: spin1 1.5s linear infinite;
    background-color: #cf012b;
  }
  .dot2 {
    animation: spin2 2s linear infinite;
    background-color: #ef607b;
  }
  .dot3 {
    animation: spin3 3s linear infinite;
    background-color: #ff1545;
  }

  @keyframes spin1 {
    0% {
      transform: rotate(0deg) translateX(25px) rotate(0deg);
    }
    100% {
      transform: rotate(360deg) translateX(25px) rotate(-360deg);
    }
  }

  @keyframes spin2 {
    0% {
      transform: rotate(0deg) translateX(25px) rotate(-0deg);
    }
    100% {
      transform: rotate(360deg) translateX(25px) rotate(-360deg);
    }
  }

  @keyframes spin3 {
    0% {
      transform: rotate(0deg) translateX(25px) rotate(-0deg);
    }
    100% {
      transform: rotate(360deg) translateX(25px) rotate(-360deg);
    }
  }

  @keyframes spin4 {
    0% {
      transform: rotate(0deg) translateX(32px) rotate(-0deg);
    }
    100% {
      transform: rotate(360deg) translateX(32px) rotate(-360deg);
    }
  }
}

@layer base {
  strong {
    font-weight: 500; /* Medium */
  }
}
