{{ with . }}


{{ if gt (len site.Taxonomies.categories) 0 }}
<div>
  <h2 class="text-xl uppercase font-medium border-b border-gray-300 dark:border-gray-800/50 pb-2 mb-4">
    Category
  </h2>
  <ul class="flex flex-wrap gap-2 justify-start items-center">
    {{ range $name, $taxonomy := site.Taxonomies.categories }}
    <li class="mb-2">
      <a href="{{ "/categories/" | relLangURL }}{{ $name | urlize }}"
        class="capitalize px-2 py-1 text-skoolink-400 dark:text-skoolink-500 bg-skoolink-100 dark:bg-gray-950/20 rounded hover:underline text-lg font-light dark:font-extralight transition duration-300 ease-in-out">
        {{ $name }} ({{ len $taxonomy }})
      </a>
    </li>
    {{ end }}
  </ul>
</div>
{{ end }}

{{ end }}
