{{ define "main" }}


<!--...::: Hero Section Start :::... -->
{{ partial "sections/hero.html" . }}
<!--...::: Hero Section End :::... -->


<!--...::: Brand Section Start :::... --> 
{{ partial "sections/brands.html" . }} 
<!--...::: Brand Section End :::... -->

<!--...::: Content Section Start :::... -->
{{ partial "sections/about.html" . }}
<!--...::: Content Section End :::... -->

<!--...::: Features Section Start :::... --> 
{{ partial "sections/features.html" . }}
<!--...::: Features Section End :::... -->

<!--...::: Content Section Start :::... -->
{{ partial "sections/benefit.html" . }}
<!--...::: Content Section End :::... -->

<!--...::: FAQ Section Start :::... -->
 {{ partial "sections/faq.html" . }}
<!--...::: FAQ Section End :::... -->

<!--...::: Pricing Section Start :::... -->
{{ partial "sections/pricing.html" . }}
<!--...::: Pricing Section End :::... -->

<!--...::: Testimonial Section Start :::... -->

{{ partial "sections/testimonials.html" . }}
<!--...::: Testimonial Section End :::... -->

<!--...::: Blog Section Start :::... --> 
{{ partial "sections/blog.html" . }}
<!--...::: Blog Section End :::... -->

<!--...::: FAQ Section Start :::... --> 
{{ partial "sections/faq-umum.html" . }}
<!--...::: FAQ Section End :::... -->
<!--...::: Contact Section Start :::... -->
{{ partial "sections/contact.html" . }}
<!--...::: Contact Section End :::... -->




{{ end }}