{{ define "main" }}

{{ $current := .RelPermalink }}
{{ if not (or
  (hasPrefix $current "/contact")
  (hasPrefix $current "/privacy-policy")
  (hasPrefix $current "/terms-of-service")
  (hasPrefix $current "/about-us")
  (hasPrefix $current "/disclaimer")
) }}
<!--...::: Breadcrumb Section Start :::... -->
<section class="section-breadcrumb">
  <div class="breadcrumb-wrapper">
    <div class="container-default">
      <div class="breadcrumb-block">
        <h1 class="breadcrumb-title">{{ title .Section }}</h1>
        <ul class="breadcrumb-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/{{ .Section }}">{{ title .Section }}</a></li>
          <li>{{ .Title }}</li>
        </ul>
      </div>
    </div>
    <div class="absolute left-0 top-0 -z-10">
      <img src="/img/elements/breadcrumb-shape-1.svg" alt="hero-shape-1" width="291" height="380" />
    </div>
    <div class="absolute bottom-0 right-0 -z-[1]">
      <img src="/img/elements/breadcrumb-shape-2.svg" alt="hero-shape-2" width="291" height="380" />
    </div>
  </div>
</section>
<!--...::: Breadcrumb Section End :::... -->
{{ end }}
<!--...::: Blog Section Start :::... -->
<section class="blog-section">
  <div class="section-space">
    <div class="container-default">
      <div class="grid grid-cols-1 gap-x-6 gap-y-10 lg:grid-cols-[1fr,minmax(416px,_0.45fr)]">
        <div class="flex flex-col gap-y-10 lg:gap-y-14 xl:gap-y-20">
          <!-- Blog Post Detail Area -->
          <div class="flex flex-col gap-6">
            <!-- Blog Post Article -->
            <article class="jos overflow-hidden bg-white">
              <div class="mb-7 block overflow-hidden rounded-[10px]">
                <a href="{{ .RelPermalink }}" class="block overflow-hidden">
                  <img src="{{ .Params.image }}" alt="{{ .Title }}" width="856" height="450"
                    class="h-auto w-full scale-100 object-cover transition-all duration-300 group-hover:scale-105" />
                </a>
              </div>
              <!-- Blog Details Wrapper -->
              <div class="px-[30px]">
                <!-- Blog Post Meta -->
                <ul class="flex flex-wrap items-center gap-4 text-base font-semibold sm:gap-6">
                  <li>
                    <a href="{{ .RelPermalink }}" class="flex items-center gap-x-[10px] hover:text-ColorBlue">
                      {{ $authorSlug := .Params.author }}
                      {{ with site.GetPage (printf "authors/%s" .Params.author) }}

                      <img src="{{ .Params.photo }}" alt="{{ .Title }}"
                        class="w-[45px] h-[45px] rounded-full object-cover" />
                      <span>By {{ .Title }}</span>
                      {{ end }}
                    </a>
                  </li>
                  <li>
                    <a href="{{ .RelPermalink }}" class="flex items-center gap-x-[10px] hover:text-ColorBlue">
                      <i class="fa-regular fa-calendar"></i>
                      {{ .Date.Format "Jan 2, 2006" }}
                    </a>
                  </li>
                  {{ with .Params.categories }}
                  <li>
                    <span
                      class="rounded-[50px] bg-ColorBlack/5 px-[26px] py-1.5 text-ColorBlack/60 hover:bg-ColorBlue hover:text-white">
                      {{ index . 0 }}
                    </span>
                  </li>
                  {{ end }}
                </ul>

                <!-- Blog Post Meta -->
                <!-- Blog Details Content Block-->
                <div>
                  <h2
                    class="mb-5 mt-8 line-clamp-2 font-body text-2xl font-bold leading-[1.4] -tracking-[1px] group-hover:text-ColorBlue lg:text-3xl">
                    {{ .Title }}
                  </h2>
                  <p class="mb-7 last:mb-0">
                    {{ .Content }}
                  </p>

                </div>
                <!-- Blog Details Content Block-->
              </div>
              <!-- Blog Details Wrapper -->
            </article>
            <!-- Blog Post Article -->

            <!-- Blog Events -->
            <div class="jos flex justify-between gap-x-8 px-[30px]">
              <div class="flex items-center gap-x-6">
                <button class="inline-flex items-center gap-x-1 text-[#121212]">
                  <i class="fa-regular fa-thumbs-up"></i>
                  200
                </button>
                <button class="inline-flex items-center gap-x-1 text-[#121212]">
                  <i class="fa-regular fa-messages"></i>
                  15
                </button>
              </div>
              <div class="flex items-center gap-x-6">
                <button class="inline-flex items-center gap-x-1 text-[#121212]">
                  <i class="fa-sharp fa-regular fa-share-nodes"></i>
                </button>
                <button class="inline-flex items-center gap-x-1 text-[#121212]">
                  <i class="fa-regular fa-inbox-in"></i>
                </button>
              </div>
            </div>
            <!-- Blog Events -->

            <!-- Horizontal Separator -->
            <div class="jos my-[30px] h-[1px] w-full bg-[#EAEDF0]"></div>
            <!-- Horizontal Separator -->

            <!-- Blog Comments -->
            <div class="jos">
              <div class="mb-6 text-xl font-semibold text-ColorBlack">
                3 comments on this post:
              </div>

              <ul class="flex flex-col gap-y-[30px]">
                <!-- Single Comment List -->
                <li class="border-b border-[#EAEDF0] last:border-b-0">
                  <div class="flex gap-x-5">
                    <!-- Comment User Image -->
                    <div class="h-[80px] w-[80px] overflow-hidden rounded-full">
                      <img src="img/th-1/blog-comment-large-user-img-1.jpg" alt="blog-comment-large-user-img-1"
                       class="h-[80px] w-[80px] object-cover" />
                    </div>
                    <!-- Comment User Image -->
                    <!-- Comment Content -->
                    <div class="flex flex-1 flex-col gap-y-4">
                      <!-- Comment User info -->
                      <div class="flex items-center justify-between gap-x-5">
                        <div class="flex flex-col gap-y-1 text-sm">
                          <div class="font-semibold text-ColorBlack">
                            Ricky Smith
                          </div>
                          <div class="text-ColorBlack/80">
                            June 14, 2024
                          </div>
                        </div>
                        <button class="text-base font-bold transition-all duration-300 hover:text-ColorBlue">
                          Reply
                        </button>
                      </div>
                      <!-- Comment User info -->
                      <!-- Comment User Text -->
                      <p class="max-w-[616px]">
                        It is a long established fact that a reader will
                        be distrac readable content of a page when
                        looking at its layout. The point of using is
                        that it has two.
                      </p>
                      <!-- Comment User Text -->
                    </div>
                    <!-- Comment Content -->
                  </div>
                  <!-- Comment Reply -->
                  <ul class="mt-[30px] flex flex-col pl-8 sm:pl-32">
                    <!-- Comment Reply Item -->
                    <li class="border-t border-[#EAEDF0] py-[30px]">
                      <div class="flex gap-x-5">
                        <!-- Comment User Image -->
                        <div class="h-[50px] w-[50px] overflow-hidden rounded-full">
                          <img src="img/th-1/blog-comment-small-user-img-1.jpg"
                            alt="blog-comment-large-user-img-1" class="h-[50px] w-[50px] object-cover" />
                        </div>
                        <!-- Comment User Image -->
                        <!-- Comment Content -->
                        <div class="flex flex-1 flex-col gap-y-4">
                          <!-- Comment User info -->
                          <div class="flex items-center justify-between gap-x-5">
                            <div class="flex flex-col gap-y-1 text-sm">
                              <div class="font-semibold text-ColorBlack">
                                Joshua Jones
                              </div>
                              <div class="text-ColorBlack/80">
                                June 15, 2024
                              </div>
                            </div>
                            <button class="font-bold transition-all duration-300 hover:text-ColorBlue">
                              Reply
                            </button>
                          </div>
                          <!-- Comment User info -->
                          <!-- Comment User Text -->
                          <p class="max-w-[536px]">
                            It is a long established fact that a reader
                            will be distra readable content of a page
                            when looking its layout. The point of using.
                          </p>
                          <!-- Comment User Text -->
                        </div>
                        <!-- Comment Content -->
                      </div>
                    </li>
                    <!-- Comment Reply Item -->
                  </ul>
                  <!-- Comment Reply -->
                </li>
                <li class="border-b border-[#EAEDF0] last:border-b-0">
                  <div class="flex gap-x-5">
                    <!-- Comment User Image -->
                    <div class="h-[80px] w-[80px] overflow-hidden rounded-full">
                      <img src="img/th-1/blog-comment-large-user-img-2.jpg" alt="blog-comment-large-user-img-1"
                       class="h-[80px] w-[80px] object-cover" />
                    </div>
                    <!-- Comment User Image -->
                    <!-- Comment Content -->
                    <div class="flex flex-1 flex-col gap-y-4">
                      <!-- Comment User info -->
                      <div class="flex items-center justify-between gap-x-5">
                        <div class="flex flex-col gap-y-1 text-sm">
                          <div class="font-semibold text-ColorBlack">
                            Stephanie Nicol
                          </div>
                          <div class="text-ColorBlack/80">
                            Jan 28, 2023
                          </div>
                        </div>
                        <button class="text-base font-bold transition-all duration-300 hover:text-ColorBlue">
                          Reply
                        </button>
                      </div>
                      <!-- Comment User info -->
                      <!-- Comment User Text -->
                      <p class="max-w-[616px]">
                        It is a long established fact that a reader will
                        be distrac readable content of a page when
                        looking at its layout. The point of using is
                        that it has two.
                      </p>
                      <!-- Comment User Text -->
                    </div>
                    <!-- Comment Content -->
                  </div>
                </li>
                <!-- Single Comment List -->
              </ul>
            </div>
            <!-- Blog Comments -->

            <!-- Horizontal Line Separator -->
            <div class="horizontal-line bg-ColorBlack"></div>
            <!-- Horizontal Line Separator -->

            <!-- Blog Comment Form -->
            <div class="jos">
              <div class="mb-6 text-xl font-semibold text-ColorBlack">
                Leave a comment
              </div>
              <div class="flex gap-5">
                <img src="img/th-1/blog-comment-form-img.jpg" alt="blog-comment-form-img" width="60" height="71"
                  class="h-[60px] w-[60px] rounded-[50%] object-cover" />
                <form action="#" method="post" class="relative flex-1">
                  <textarea name="comment-textarea" id="comment-textarea"
                    class="min-h-[150px] w-full rounded-[10px] border bg-white p-4 text-ColorBlack/80 outline-none focus:border-ColorBlue"
                    placeholder="Write a comment..."></textarea>
                  <div class="mt-2 flex w-full flex-wrap items-center justify-between gap-6">
                    <!-- Button Events -->
                    <div class="flex gap-x-6">
                      <!-- Button Emoji -->
                      <button class="hover:text-ColorBlue active:bg-ColorBlue">
                        <i class="fa-regular fa-face-smile"></i>
                      </button>
                      <!-- Button Media -->
                      <button class="hover:text-ColorBlue active:bg-ColorBlue">
                        <i class="fa-regular fa-camera"></i>
                      </button>
                      <!-- Button Voice -->
                      <button class="hover:text-ColorBlue active:bg-ColorBlue">
                        <i class="fa-regular fa-microphone"></i>
                      </button>
                      <!-- Button Edit -->
                      <button class="hover:text-ColorBlue active:bg-ColorBlue">
                        <i class="fa-regular fa-pen"></i>
                      </button>
                    </div>
                    <!-- Button Action -->
                    <div class="flex gap-x-6">
                      <button class="hover:text-red-600 active:text-red-600">
                        Cancel
                      </button>
                      <button type="submit"
                        class="rounded-[50px] bg-ColorBlack/5 px-8 py-1 text-ColorBlack/60 hover:bg-ColorBlue hover:text-white">
                        Publish
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!-- Blog Comment Form -->
          </div>
        </div>

        <!-- Sidebar -->
        <aside class="jos flex flex-col gap-y-[30px]">
          {{ partial "blog/sidebar.html" . }}
        </aside>
      </div>
    </div>
  </div>
</section>
<!--...::: Blog Section End :::... -->

{{ end }}