{{ $currentPage := .Page }}

{{ $categories := slice }}
{{ with $currentPage.Params.categories }}
  {{ $categories = . }}
{{ end }}

{{ $tags := slice }}
{{ with $currentPage.Params.tags }}
  {{ $tags = . }}
{{ end }}

{{ $relatedByCat := slice }}
{{ $relatedByTag := slice }}

{{ if gt (len $categories) 0 }}
  {{ $relatedByCat = where site.RegularPages "Params.categories" "intersect" $categories }}
{{ end }}

{{ if gt (len $tags) 0 }}
  {{ $relatedByTag = where site.RegularPages "Params.tags" "intersect" $tags }}
{{ end }}

{{ $relatedCombined := union $relatedByCat $relatedByTag | uniq }}
{{ $relatedFiltered := where $relatedCombined "RelPermalink" "ne" $currentPage.RelPermalink }}

{{ if gt (len $relatedFiltered) 0 }}
  <div class="flex gap-3 mx-2 my-4 h-fit bg-gray-100 dark:bg-gray-950/20 backdrop-blur-sm ">
   <div class="w-2 min-h-20 max-h-28 rounded bg-skoolink-400 dark:bg-skoolink-500"></div>
    <div class="h-full p-2">
      <p class="font-medium">Also read:</p>
    {{ range first 1 $relatedFiltered }}
      <a href="{{ .RelPermalink }}" class="text-skoolink-400 dark:text-skoolink-500 font-normal dark:font-light hover:underline line-clamp-2">
        {{ .Title }}
      </a>
    {{ end }}
    </div>
  </div>
{{ end }}
